body {
    background-color: #717e87;
    font-family: 'Roboto';    
    margin: 0;
}

.container {
    display: flex; 
}

.sidenav {
	padding-top: 2%;
	height: 100vh;
    width: 20%;
    float: left;
    position: relative;
    background-color:  #314151;
    color: white;
    font-size: 24px;

}

.content {
	height: 100vh;
	width: calc(100% - 200px);
    float: right;
    position: relative;
   
}

#menu-icon {
	margin-left: 5%;
}

li {
	padding: 2%;
	margin-left: 2%;
}

a {
	text-decoration: none;
}

#header{
	color: white;
	margin-left: 5%;
	padding-top: 2%;
	font-family: 'Roboto';
	font-size: 250%;
}

#headerColumn {
	font-family: 'Roboto';
	font-size: xx-large;
	text-align: center;
}


div.column {
	margin-left: 5%;
	margin-top: 2%;
  	background-color: #314151;
  	width: 20%;
  	height: 85%;
  	color: white;
  	overflow: hidden;
  	font-family: 'Roboto';
  	font-size: large;
  	padding: 2%;
}

div.columnDetail {
  margin-left: 5%;
  margin-top: 2%;
  background-color: #314151;
  width: 90%;
  height: 85%;
  color: white;
  overflow: hidden;
  font-family: 'Roboto';
  font-size: large;
  padding: 2%;
}

.centerPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}